
<h3>Name:</h3><ul><%="#{@meetups.name}"%></ul>
<h3>Description:</h3><ul><%="#{@meetups.description}"%></ul>
<h3>Location:</h3><ul><%="#{@meetups.location}"%></ul>

  <h3>Attendees:</h3>
  <% @users.each do |t| %>
    <ul><img width="30px" height="30px" src="<%= t.avatar_url %>">
    <%= t.username %></ul>
  <% end %>

<% if signed_in? %>

  <% if @meetups.users.include?(current_user) %>

      <form action="/meetups/<%= @meetups.id %>/leave" method='POST'>
      <button type='submit'>Leave Meetup</button>

    <% else %>

      <form action="/meetups/<%= @meetups.id %>/join" method='POST'>
      <button type='submit'>Join Meetup</button>

    <% end %>
  <% else %>

  <ul><a href="/auth/github"><button type='github'>Sign In</button></a></ul>
<% end %>
